<div class="row">
  <div class="col">
    <ul class="nav nav-links" id="tabsEdition" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="display-tab" data-bs-toggle="tab" data-bs-target="#display-tab-pane"
          type="button" role="tab" aria-controls="display-tab-pane" aria-selected="true">Display</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-pane" type="button" role="tab"
          aria-controls="data-pane" aria-selected="false">Data</button>
      </li>
      {{!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane"
          type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
      </li> --}}
    </ul>

    <div class="tab-content mt-3" id="tabsEditionContent">
      <div class="tab-pane fade show active" id="display-tab-pane" role="tabpanel" aria-labelledby="display-tab"
        tabindex="0">
        <form>

        </form>
      </div>
      <div class="tab-pane fade" id="data-pane" role="tabpanel" aria-labelledby="data-tab" tabindex="0">
        data here
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...
      </div>
      <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...
      </div>
    </div>
  </div>
  <div class="col">
    <h3>Preview</h3>
    <div id="preview-edition"></div>
  </div>

</div>