<div class="row">
    <div class="row mb-3">
        <label for="e-label" class="col-sm-2 col-form-label">Label</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="e-label" placeholder="Field label">

        </div>
    </div>
    <div class="row mb-3">
        <label for="e-placeholder" class="col-sm-2 col-form-label">Placeholder</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="e-placeholder" placeholder="Field placeholder">
        </div>
    </div>
    <div class="row mb-3">
        <label for="e-labelPosition" class="col-sm-2 col-form-label">Label Position</label>
        <div class="col-sm-10">
            <select id="e-label-position" class="form-select">
                <option selected>Choose...</option>
                <option value="top">Top</option>
                <option value="left-left-aligned">Left (Left-aligned)</option>
                <option value="left-right-aligned">Left (Right-aligned)</option>
                <option value="right-left-aligned">Right (Left-aligned)</option>
                <option value="right-right-aligned">Right (Right-aligned)</option>
                <option value="bottom">Bottom</option>
            </select>
        </div>
    </div>

</div>