<div class='container'>
  <div class='fb-wrapper-content'>
  </div>
  <div class='field-actions'>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group btn-group btn-group-sm" role="group" aria-label="First group">
        <button type="button" class="btn btn-outline btn-outline-secondary act-edit">Edit</button>
        <button type="button" class="btn btn-danger btn-outline act-remove">X</button>
        {{!-- <button type="button" class="btn btn-outline">3</button>
        <button type="button" class="btn btn-outline">4</button> --}}
      </div>
    </div>
  </div>
</div>